*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1E201E;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login{
    border-radius:5px;
    background-color: white;
    height:50vh;
    width:25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:2rem;
    margin-left:35%;
    margin-top: 10%;
    
}
.register1{
    border-radius:5px;
    background-color: white;
    height:50rem;
    width:20rem;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding:1rem;
    margin-left:30%;
    margin-top: 10%;
    
}
.loginpage{
    color:black;
    display: flex; 
    justify-content: center;
    padding: 10px;
    flex-direction:column ;
}  
input{
    /* color: white; */
    /* border-color: rgb(21, 233, 233); */
    margin-bottom:10px;
}
.text{
    /* color: white; */
   text-decoration-line:underline;
    margin-bottom: 10px;
    text-align: center;
}
label{
    padding-bottom:8px;
}
.btn{
    height:30px;
    background-color: green;
    width:70px;
    margin-bottom: 2rem;
    color: white;
}
.bottom{
    display: flex;
    justify-content: space-between;
} 
a{
    color:blue;

    text-decoration-line: underline;
}